<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="imageFinder" class="org.geoserver.rest.image.ImageFinder">
        <constructor-arg ref="geoServer" />
        <constructor-arg ref="rawCatalog" />
        <constructor-arg ref="filterFactory" />
    </bean>

    <bean id="imageMapping" class="org.geoserver.rest.RESTMapping">
        <property name="routes">
            <map>
                <!-- A specific Image for a Feature's Attribute -->
                <!-- retrieve, GET -->
                <entry>
                    <key>
                        <value>/attachments/{workspace}/{featuretype}/{fid}/{attribute}/{file}.{format}</value>
                    </key>
                    <value>imageFinder</value>
                </entry>
                <!-- upload, POST or PUT -->
                <entry>
                    <key>
                        <value>/attachments/{workspace}/{featuretype}/{fid}/{attribute}</value>
                    </key>
                    <value>imageFinder</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>